<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AnyCAD.Foundation.NET4" publicKeyToken="adad17ef48f32d48" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2023.12.1.1650" newVersion="2023.12.1.1650" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key ="AlphaRadius" value="5"/>
    <add key ="Append" value="False"/>
    <add key="AlignZ" value="True"/>
    <add key ="CloudScale" value="1000, 1000, 1000"/>
    <add key ="CloudFormat" value="xyzRGB"/>
    <add key ="ColorMode" value="Mono"/>
    <add key="Direction" value="0.0,1.0,0.0"/>
    <add key ="HDiff" value ="10"/>
    <add key ="HDiffCheck" value ="False"/>
    <add key ="LL" value="3000,-500,0"/>
    <add key ="NormCheck" value="True"/>
    <add key ="NormDotTol" value="0.82"/>
    <add key ="NLCheck" value="False"/>
    <add key ="NLowLimit" value="-5"/>
    <add key ="NUCheck" value="False"/>
    <add key ="NUpLimit" value="5"/>
    <add key ="PointSize" value="4"/>
    <add key ="PointBrush" value="#FFFF0000"/>
    <add key ="RadiusCheck" value="True"/>
    <add key ="UL" value="4000,500,3000"/>
    <add key ="UniformScale" value ="1000"/>
    <add key ="UseROI" value="True"/>
    <add key ="UseUserNorm" value="False"/>
    <add key ="UserNormal" value="1,0,0"/>
    <add key ="VertSkip" value="2"/>
    <add key="_rayDir" value ="PY"/>
  </appSettings>
</configuration>
