<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AnyCAD.Foundation.NET" version="2023.12.1.1706" targetFramework="net48" />
  <package id="AnyCAD.Foundation.Win64" version="2023.12.1.1706" targetFramework="net48" />
  <package id="AnyCAD.Rapid.NET" version="2023.12.1.1706" targetFramework="net48" />
  <package id="AnyCAD.Simulate.NET" version="2023.12.1.1706" targetFramework="net48" />
</packages>